*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:lightblue;
}

a{
    text-decoration: none white;
    color: white;
}

table{
    background-color: aliceblue;
    border-radius: 5px;
    margin: 0% auto;
    width: 50%;
}
#header{
    background-color: black;
    padding: 2%;
    width: 100%;
}

#header ul li{
    list-style: none;
    display: inline;
    padding: 2%;
}

#footer{
    background-color: black;
    padding: 2%;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

#main{
    padding: 40px 0;
    width: 90%;
    margin: 0% auto;
}

.center{
    text-align: center !important;
    margin: 0% auto !important;
    justify-content: center !important;
}

.error{
    color:red;
}

.head{
    color: white;
    background-color: black;
    padding: 10px !important;
    border: solid 1px red;
    font-weight: bolder;
}

.cell{
    padding: 10px !important;
    border-bottom: solid 1px gray;
}

.btn-e{
    height: 35px;
    width: 100px;
    color: white;
    background-color: rgba(255, 166, 0, 0.85);
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 3px;
    display:inline-block;
}

.btn-d{
    height: 35px;
    width: 100px;
    color: white;
    background-color: rgba(255, 68, 0, 0.85);
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 3px;
    display:inline-block;
}

.btn-a{
    height: 35px;
    width: 100px;
    color: white;
    background-color:rgba(0, 128, 0, 0.85);
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 3px;
    display:inline-block;
}

.btn-especial{
    height: 35px;
    width: 150px;
}

.btn-e:hover{
    background-color: orange;
}

.btn-d:hover{
    background-color: orangered;
}

.btn-a:hover{
    background-color: green;
}
.derecha{
    text-align: right;
}

